body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }

  .contenido {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  h1{
    margin: 10px;
  }

  .grid-container {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    gap: 10px; /* Ajusta este valor para cambiar el espacio entre los botones */
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px; /* Ajusta este valor para cambiar el espacio entre el <h1> y los botones */
  }
  
  .button {
    margin-right: 10px; /* Ajusta este valor para cambiar el espacio a la derecha de cada botón */
    width: 300px; /* Ajusta este valor para cambiar el ancho de los botones */
  }

  
  .button{
    width: 100%;
    padding: 15px 40px;
    min-width: 275px; /* Aumenta este valor para hacer los botones más largos */
    font-size: 16px;
    margin: 10px 0;
    color: white;
    background-color: #704214;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Alinea los elementos al centro */
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  .button:active {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .button span {
    margin-right: 10px;
  }
  
  .button:hover {
    background-color: #4f2e0d;
  }
  
  /* ICONOS */
  
  .tabler--a-b-2, .tabler--adjustments-plus, .material-symbols--egg-outline, .streamline--chicken-grilled-stream{
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
  }

  .streamline--chicken-grilled-stream {

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' stroke='white' stroke-linecap='round'%3E%3Cpath stroke-linejoin='round' d='M2.243 2.246v1.562m4.563-1.562v1.562M4.525 1.083v1.562'/%3E%3Cpath d='M11.509 4.602a.955.955 0 1 0 1.91 0a.955.955 0 1 0-1.91 0'/%3E%3Cpath stroke-linejoin='round' d='m10.841 8.677l.212.093c1.48.7 1.889 1.606 1.889 2.85v.298a1 1 0 0 1-1 1H1.64c-.327 0-.634-.161-.76-.463c-.277-.669-.599-2.013.238-3.685c1.21-2.416 4.187-2.947 6.094-1.947l.09.046'/%3E%3Cpath d='M10.158 10.006c.928-1.018.976-2.485.108-3.275s-2.323-.605-3.25.413c-.843.925-.96 2.219-.325 3.04q.096.127.217.235'/%3E%3Cpath stroke-linejoin='round' d='M11.806 5.296L10.32 6.781'/%3E%3C/g%3E%3C/svg%3E");
  }

  .material-symbols--egg-outline {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M12 21q-2.925 0-4.962-2.037T5 14q0-1.925.638-3.875t1.65-3.537T9.55 4T12 3q1.225 0 2.463 1t2.25 2.588t1.65 3.537T19 14q0 2.925-2.037 4.963T12 21m0-2q2.075 0 3.538-1.463T17 14q0-1.425-.488-3t-1.225-2.912t-1.612-2.213T12 5q-.775 0-1.662.875T8.713 8.088T7.488 11T7 14q0 2.075 1.463 3.538T12 19m1-1q.425 0 .713-.288T14 17t-.288-.712T13 16q-1.25 0-2.125-.875T10 13q0-.425-.288-.712T9 12t-.712.288T8 13q0 2.075 1.463 3.538T13 18m-1-6'/%3E%3C/svg%3E");
  }
  
  .tabler--a-b-2 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16 21h3c.81 0 1.48-.67 1.48-1.48l.02-.02c0-.82-.69-1.5-1.5-1.5h-3zm0-6h2.5c.84-.01 1.5.66 1.5 1.5s-.66 1.5-1.5 1.5H16zM4 9V5c0-1.036.895-2 2-2s2 .964 2 2v4m-5.01 2.98a9 9 0 0 0 9 9m9-9a9 9 0 0 0-9-9M8 7H4'/%3E%3C/svg%3E");
  }
  
  .tabler--adjustments-plus {
      
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 10a2 2 0 1 0 4 0a2 2 0 0 0-4 0m2-6v4m0 4v8m7.958-4.408A2 2 0 1 0 12 18m0-14v10m0 4v2m4-13a2 2 0 1 0 4 0a2 2 0 0 0-4 0m2-3v1m0 4v3m-2 7h6m-3-3v6'/%3E%3C/svg%3E");
  }
  
  .tabler--bomb {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M15.349 5.349L18.65 8.65a1.2 1.2 0 0 1 0 1.698l-.972.972a7.5 7.5 0 1 1-5-5l.972-.972a1.2 1.2 0 0 1 1.698 0z'/%3E%3Cpath d='m17 7l1.293-1.293A2.4 2.4 0 0 0 19 4a1 1 0 0 1 1-1h1M7 13a3 3 0 0 1 3-3'/%3E%3C/g%3E%3C/svg%3E");
  }
  /* Media Queries */
  
  @media (max-width: 600px) {
    .grid-container {
        width: 100%;
        padding: 10px;
    }
    .button{
        font-size: 14px;
        padding: 12px;
        width: 100%; /* En pantallas pequeñas, el ancho del botón será del 100% */
        max-width: 100%; /* Asegura que los botones no se corten */
    }
  }
  