
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body::after {
    content: "";
    background: url("../../../logo/pienta.png") repeat;
    opacity: 0.5; /* Ajusta este valor según tus necesidades */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-size: 10%;
    }
  
    body {
    font-family: 'work sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    position: relative;
    }

.contenedor-para-formularios {
    width: 100%;
    margin: 0 auto;
    padding: 100px;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: calc(100vh - 70px); /* Ajusta este valor según la altura de tu título */
    overflow-y: auto;
    
}

.contenido-contexto {
    width: 100%;
   
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 15px;
    text-align: center;
    color: #704214;
  }



    /* ESTILO PARA BOTON DE SELECCIÓN DE FORMULARIO */
summary {
    width: 100%;
    background-color: #671C34;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;

    display: inline-block;
    font-size: 20px;
    text-align: center;
    outline: none;
    box-shadow: 0 5px #999;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

summary:hover {background-color: #704214}

summary:active {
  background-color: #704214;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

    /* ESTILO PARA CONTENEDOR DE TEXTO */
form {
        max-width: 400px;
        margin: 10px auto;
        padding: 10px 20px;
        border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    padding: 5px;
  }

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

  input[type="text"], textarea, input[type="number"], select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 10px;
  }

  textarea {
    resize: vertical; /* Permite al usuario cambiar el tamaño del textarea solo verticalmente */
    max-width: 100%; /* Evita que el textarea sobrepase el borde del div */
}

.radio-option {
    display: inline-block;
    margin-right: 10px; /* Añade un espacio a la derecha de cada elemento */
}

.botonCreado {
    width: 25%; /* Reduce el ancho */
    margin: 0 auto;
    margin-top: 15px; /* Centra el botón */
    color: #ffffff;
    background: #39A900;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824b;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    display: block; /* Necesario para centrar el botón con margin: auto */
    
}

.botonCreado:hover {
    background: #60AD39;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

  .botonCreadon:active {
    border: 0;
    transition: all 0.2s ease;
  }



/* ... ESTILO PARA SUBIR MULTIMEDIA ... */

.file-upload {
    background-color: #ffffff;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #ffffff;
    background: #39A900;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824b;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  .file-upload-btn:hover {
    background: #60AD39;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .file-upload-btn:active {
    border: 0;
    transition: all 0.2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 10px;
    border: 4px dashed #39A900;
    position: relative;
  }
  .image-upload-wrap:hover {
    background-color: #ffffff;
    border: 4px dashed #39A900;
  }
  
  .image-dropping {

    border: 4px dashed #39A900;

  }
  
  
  .drag-text {
    text-align: center;
  }

  .drag-text h3 {
    font-weight: 50;
    text-transform: uppercase;
    color: #15824b;
    padding: 5px 0;
  }
  
  .file-upload-image {
    max-height: 150px;
    max-width: 150px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 150px;
    margin: 0;
    color: #ffffff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .remove-image:active {
    border: 0;
    transition: all 0.2s ease;
  }
    


@media screen and (min-width: 480px) {

    form {
      max-width: 480px;
    }
  
  }


/* ... ESTILO PARA OPCIONES ... */

#Op_A, #Op_B, #Op_C, #Op_D {
padding: 20px;
}




/*ICONOS*/
.akar-icons--bitcoin-fill {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cg fill='white' clip-path='url(%23akarIconsBitcoinFill0)'%3E%3Cpath d='M11.385 15.275c1.111-.004 3.54-.013 3.512-1.558c-.027-1.58-2.36-1.485-3.497-1.438c-.127.005-.24.01-.332.011l.052 2.987c.075-.002.165-.002.265-.002m-.118-4.353c.927-.001 2.95-.003 2.926-1.408c-.026-1.437-1.969-1.352-2.918-1.31c-.107.005-.2.009-.278.01l.047 2.709z'/%3E%3Cpath fill-rule='evenodd' d='M9.096 23.641c6.43 1.603 12.942-2.31 14.545-8.738C25.244 8.474 21.33 1.962 14.9.36C8.474-1.244 1.962 2.67.36 9.1c-1.603 6.428 2.31 12.94 8.737 14.542m4.282-17.02c1.754.124 3.15.638 3.333 2.242c.136 1.174-.344 1.889-1.123 2.303c1.3.288 2.125 1.043 1.995 2.771c-.161 2.145-1.748 2.748-4.026 2.919l.038 2.25l-1.356.024l-.039-2.22c-.351.006-.711.01-1.084.008l.04 2.23l-1.356.024l-.04-2.254l-.383.003c-.194.001-.39.002-.586.006l-1.766.03l.241-1.624s1.004-.002.986-.017c.384-.008.481-.285.502-.459L8.693 11.3l.097-.002h.046a1.101 1.101 0 0 0-.144-.007l-.044-2.54c-.057-.274-.241-.59-.79-.58c.015-.02-.986.017-.986.017L6.846 6.74l1.872-.032v.007c.281-.005.57-.015.863-.026L9.543 4.46l1.356-.023l.038 2.184c.362-.013.726-.027 1.083-.033l-.038-2.17l1.357-.024z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='akarIconsBitcoinFill0'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}